@font-face {
    font-family: simply_glam;
    src: url(/app/font/simplyglam.ttf);
}

@font-face {
    font-family: easy_rider;
    src: url(/app/font/easy_rider.ttf);
}

@font-face {
    font-family: always_forever;
    src: url(/app/font/always_forever.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    border:0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.sticky {
    position: fixed;
    display: inline-block;
    background: transparent url("/app/img/sticky.png") no-repeat 0 center;
    background-size: 100%;
    height: 200px;
    width: 200px;
    padding: 20px 20px 34px 24px;
    cursor: move;
    font-size: 20px;
}

.note {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.font1 {
    font-family: simply_glam;
    font-size: 20px;
}

.font2 {
    font-family: easy_rider;
    font-size: 20px;
}

.font3 {
    font-family: always_forever;
    font-size: 20px;
}




.remoteWebRtc {
    border: 1px solid black;
}


.control_panel {
    width: 600px;
    height: 300px;
    border: 1px solid black;
}



.remote_connector {
    display: inline;
    border: 1px solid black;
}

.peer_id {
    position: fixed;
    top: 95%;
    z-index: 1000;
    left: 10px;
    font-size: 20px;
}
